global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# -----------------------------------------
# DASHBOARD VISUAL (Estadísticas)
# -----------------------------------------
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 2s # El dashboard se refresca solo cada 2 segundos
    stats admin if TRUE

# -----------------------------------------
# ENTRADA DE TRÁFICO A LA API
# -----------------------------------------
frontend api_gateway
    bind *:80
    default_backend api_servers

# -----------------------------------------
# REPARTO DE TRÁFICO Y HEALTH CHECKS
# -----------------------------------------
backend api_servers
    balance roundrobin # Reparto equitativo: 1, 2, 3, 1, 2, 3...
    
    # Aquí definimos los servidores y le decimos a HAProxy que revise /health
    option httpchk GET /health
    http-check expect status 200

    # 'check' activa la verificación de salud. 
    # 'fall 2' significa que al segundo fallo lo marca como caído.
    # 'rise 2' significa que tras dos aciertos lo vuelve a marcar como vivo.
    server nodo_1 api1:8080 check fall 2 rise 2
    server nodo_2 api2:8080 check fall 2 rise 2
    server nodo_3 api3:8080 check fall 2 rise 2
    
        